*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
out/

# Android files
app/build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex

# Mac
.DS_Store
